.title{
    font-family: 'Point Panther', sans-serif;
    color: #444;
    padding: 8px;
    text-align:left;
    position:sticky;
    top:0px;
    background-color:lightgray;
}
/* animated title settings*/
.title span {
    position: relative;
    display: inline-block;
    font-size: 50px;
    color:#444;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i));
  }
  @keyframes flip {
    0%,70% {
      transform: rotateY(360deg) 
    }
  }
img{
    padding-top:12px;
    background-color:lightgray;
    height:50px;
    width:50px;
}
.animatedlogo1{
    float:right;
}
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

body {
    background-color: #f0f0f0;
    color: #343434;
}
/* center paragraph text and contents*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

.favorites h2,
.childhood h3,
.goals h3 {
    font-family: 'Belleza', sans-serif;
    padding: 1rem;
}
.tabletoprow{
    background-color:#edeade;
}

.favorites table,
.favorites th,
.favorites td {
    border: 1px solid #999;
    padding: 0.5rem;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.favorites table {
    width: 100%;
    text-align: center;
}

.childhood p,
.goals ul {
    text-align: justify;
    line-height: 1.6;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

form input {
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #999;
    width: 100%;
}

.submit,
#nextButton {
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.submit:hover,#nextButton:hover {
    background-color: #555;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
/* footer for screen with hyperlinks */
.footer-container{
    background-color:#343434;
    padding-bottom: 64px;
    padding-top: 32px;
}
.footer{
    width:2000px;
    height: 40vh;
    background-color:#343434;
    color:white;
    display:flex;
    margin: 0 auto;
    justify-content:center;
    flex-wrap:wrap;
}

.footer-heading{
    display:flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2{
    margin-bottom: 2rem;
}

.footer-heading a{
    color:#e1d9d1;
    text-decoration:none;
    margin-bottom:0.5rem;
}
/* footer-text chnages color when hovered */
.footer-heading a:hover{
    color:gray;
    transition: 0.3s ease-out;
}
.footer-head h2:hover{
    color:darkgray;
    transition: 0.3 ease-out;
}
